# Data Science Tools and Ecosystem

In this Notebook, Data science tools and its eco system are listed here.

**Objectives:**
   + Python
   + C++
   + R

Some of the popular languages that Data Scientists use are:

    1 Python
    2 Julia
    3 Scala
    4 R
    5 C++

Some of the commonly used libraries used by Data Scientists include:

    1 Numpy
    2 Pandas
    3 Matplotlib

| Data Science Tools |
----------------------
| R Studio           |
| Jypyter Notebook.  |
| Spyder             |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

+ 2 + 2
+ 3 * 3
+ 4 - 1

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author
Bob